.page-main {
  font-size: 1.414*$em;
  flex-grow: 1;
  position: relative;
  z-index: 0;
}

.page-main:before {
  border: .265125*$em dashed $white_not;
  border-right: 0;
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 33.333%;
  z-index: -1;
}
