.site-header {
  position: relative;
  z-index: 1;
}
.site-header .flex-container {
  align-items: center;
  height: 6.75*$em;
  justify-content: space-between;
}
.site-title {

}
#header-logo {
  width: 5*$em;
}

.home-header {
  align-items: center;
  background: $yellow;
  display: flex;
  justify-content: flex-end;
  min-height: 100vh;
  padding: 2*$em;
}

#home-logo {
  flex-basis: 25%;
  max-height: 33.33vh;
}

#home-bold {
  position: absolute;
  bottom: -17vh;
  height: 50vh;
  left: 0;
  width: 100%;
}

.page-header {
  align-items: center;
  display: flex;
  justify-content: left;
  margin-top: -10.75*$em;
  min-height: 66.666vh;
  position: relative;
  z-index: 0;
}
.page-header:before {
  border: .265125*$em dashed $white_not;
  border-left: 0;
  bottom: -33.333%;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  width: 33.333%;
  z-index: -1;
}

.page-header:after {
  border: .265125*$em dashed $white_not;
  border-left: 0;
  bottom: -66.666%;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  width: 66.666%;
  z-index: -1;
}
