$helvetica: Helvetica Neue,"nimbus-sans",Helvetica,Arial,sans-serif;
$serif: "freight-text-pro",Georgia,serif;
$baskerville: Baskerville,"baskerville-urw",Georgia,serif; 

$white: #fdfdfd;
$white_off: #fefefb;
$white_not: #fafaf8;
$black: #231f20;
$grey_lt: #eee;
$grey_md: #aaa;
$grey_dk: #333;
$yellow: #f1c40f;
$blue: #32C0D3;
$blue_lt: #CBEAEF;

$black_quiet: rgba($black,.4);
$white_quiet: rgba($white,.4);
$yellow_quiet: rgba($yellow,.4);

$em: 16px;

$s: 320px;
$s-m: 480px;
$m: 640px;
$m-l: 800px;
$l: 960px;
$xl: 1120px;

