<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <header role="banner" class="home-header">
      <object id="home-logo" type="image/svg+xml" data="{{ site.baseurl }}/assets/image/sbg.svg">Your browser does not support SVG</object>
      <object id="home-bold" type="image/svg+xml" data="{{ site.baseurl }}/assets/image/very-bold-design.svg">Your browser does not support SVG</object>
    </header>
    <main role="main" class="page-main">
      {{ content }}
    </main>
    {% include footer.html %}

    {% include typekit.html %}
    {% include google.html %}
  </body>
</html>
